.navbar-brand,
.navbar-toggler,
.navbar-nav .nav-link {
  transition: color 0.3s ease;
}

.navbar-brand,
.navbar-toggler {
  color: var(--color-white) !important;
}

.navbar-nav .nav-link {
  color: var(--color-text);
}

@media (hover: hover) {
    li.nav-item:not(#experience.experiences .nav-item):hover {
      background-color: var(--color-shadow);
    }
  
    .navbar-nav .nav-link:hover {
      color: var(--color-link);
    }
  }