
:root {
  --color-primary: #444444;
  --color-text: #ffffff;
  --color-background: #f8f9fa;
  --color-accent: #9b9b9b;
  --color-white: #fff;
  --color-black: #000;
  --color-shadow: rgba(0, 0, 0, 0.6);
  --color-link: #00ffff;
}

/*Ventana emergente*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007ACC;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#closeModalBtn:hover {
  animation: fallDown 0.1s ease forwards;
}

@keyframes fallDown {
  to {
      transform: translateY(50px);
      visibility: hidden;
  }
}

::selection {
  background-color: var(--color-black);
  color: var(--color-background);
}

::-moz-selection {
  background-color: var(--color-black);
  color: var(--color-background);
}

::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background-color: var(--color-accent); 
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); 
  border-radius: 10px; 
}

body {
  font-family: 'Montserrat', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: radial-gradient(circle, var(--color-background), var(--color-shadow));
  color: var(--color-text);
}

h1, h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.2rem,1rem + 3.5vw,4rem);
  text-transform: uppercase;
  text-shadow: 0 3px 3px rgba(0,0,0,.5);
}

h3, h4 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.about::after {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow); 
}


.about-content {
  position: relative; 
  z-index: 1; 
}

.about-text {
  text-align: center;
}

.about-text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-image {
  padding-bottom: 5%;
}

.about-stack {
  padding-bottom: 2%;
}

.profile-image {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.profile-image.animated {
  opacity: 1;
}


.projects {
  padding: 100px 0;
}

.projects h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}

.project h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 20px var(--color-shadow);
}

.project p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 10%;
  text-align: center;
}

.stack img {
  margin-right: 10px;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project p {
  font-size: 1rem;
  padding-top: 5%;
}


.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  height: 100%;
}


.project .btn {
  margin-top: 5%;
  width: 50%;
}


.project .btn {
  margin-top: 5%;
  width: 45%;
}

.project .btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: auto; 
}

.contact p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button {
  --border-right: 6px;
  --text-stroke-color: var(--color-accent);
  --animation-color: var(--color-link);
  --fs-size: 2em;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Archivo Black", sans-serif;
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.5px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 0.5px var(--animation-color);
}

.btn.project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: var(--color-primary);
  outline: 3px var(--color-primary) solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.btn.project-button svg path {
  transition: 400ms;
}

.navbar-brand {
  color: var(--color-white) !important;
  transition: color 0.3s ease;
}

.navbar-toggler {
  color: var(--color-white) !important;
}

.about {
  position: relative; 
  background-image: url('../images/manuelferrer.jpg');
  background-size: cover;
  background-position: center;
  padding: 6%;
  color: var(--color-white);
}

@media (min-width: 768px) {
  .about {
    background-attachment: fixed;
  }
}

@media(hover :hover) { 
  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }

  .btn.project-button:hover {
    outline: 3px var(--color-link) solid;
    background-color: var(--color-black);
    color: var(--color-white);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  }

  .navbar-nav .nav-link:hover {
    color: var(--color-link);
  }
  
  .navbar-brand, .navbar-brand:focus, .navbar-brand:hover {
    color: var(--color-white) !important;
    transition: color 0.3s ease;
  }

  li.nav-item:hover {
    background-color: var(--color-shadow);
  }
}

.navbar-nav .nav-link {
  color: var(--color-text);
  transition: color 0.3s ease;
}

.about-stack img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 3s ease, transform 1s ease-in-out;
  border-radius: 5px;
  margin: 1%;
}

.about-stack {
  opacity: 1;
}

.about-stack img.animated {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.stack-utilizado {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  bottom: 5%;
  text-align: center;
}

footer {
  background-color: #343a40;
  color: var(--color-white);
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

@media (max-width: 767px) {
  body {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }

  .col-12 {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 5%;
  } 

  .about-stack {
    opacity: 1;
    margin-top: 10%;
    margin-bottom: 10%;
  }
}
